* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 100vh;
}

.page {
    height: 100vh;
    display: flex;
}

.left, .right {
    width: 50%;
    position: relative;
}

.left {
    background: linear-gradient(#3A7CA5, #C84B31);
}

.right {
    background: linear-gradient(#0B132B, #3A3A3A);
}

.sun {
    width: 80px;
    height: 80px;
    background: #FFB703;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.moon {
    width: 65px;
    height: 65px;
    background: #ddd;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
}

.star {
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    position: absolute;
}

.s1 { top: 60px; right: 120px; }
.s2 { top: 140px; right: 80px; }
.s3 { top: 200px; right: 160px; }
.s4 { top: 90px; right: 200px; }
.s5 { top: 170px; right: 40px; }

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.field {
    position: relative;
    margin-bottom: 18px;
}

.field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #999;
    outline: none;
    font-size: 14px;
}

.field label {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 13px;
    background: white;
    padding: 0 4px;
}

.field input:focus + label,
.field input:valid + label {
    top: -7px;
    font-size: 11px;
    color: #1C2541;
}

.box button {
    width: 100%;
    padding: 9px;
    background: #1C2541;
    color: white;
    border: none;
    cursor: pointer;
}

.switch {
    text-align: center;
    margin-top: 12px;
    font-size: 13px;
}

.switch span {
    color: #1C2541;
    cursor: pointer;
}

#register {
    display: none;
}
@media screen and (max-width: 700px) {

    .page {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: 50%;
    }

    .box {
        width: 90%;
        max-width: 320px;
        padding: 20px;
    }
    .sun, .moon, .star {
        display: none;
    }
}
